.tump {
  color: black;
}
.raf {
  background-color: rgb(65, 215, 31);
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 59px;
  margin: 10px 10px;
  cursor: pointer;
}

.main {
  color: whitesmoke;
  width: 451px;
  border-radius: 70px;
  background-color: #4a88b9;
}

.top {
  height: 60px;
  background-color: #f0eeee;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  font-family: "Recursive", sans-serif;
  display: flex;
  justify-content: space-between;
}

.header {
  margin-top: 0px;
  background-color: #5f5d84;
  color: rgb(250, 250, 252);
  /* margin: 10px 0px 0px 10px;*/
  font-size: 20px;
  /*border-radius: 20px 20px 0 0;*/
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp {
  /*padding: 15px;*/
  color: rgb(12, 4, 4);
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

/*.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}*/

.sunrise-sunset {
  padding: 15px;
  color: rgb(168, 35, 35);
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.App {
  margin: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
